@import url(http://fonts.googleapis.com/css?family=Lora|Ubuntu:300,400,500); 
@import "bootstrap-sprockets";
@import "bootstrap";

/* Variables, mixins, etc.. */

@mixin background-tile {
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 6px #ccc;
    padding: 1.5em 1.25em;
}


/* General styles */

body {
    background-color: #f5f5f5;
    font-family: 'Lora', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

p.alert, p.notice {
    margin: 0;
}


/* Navbar/navigation styles */

.navbar {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
}
.navbar-default {
    background-color: #fff;
    padding-bottom: 5px;
    padding-top: 5px;

    .navbar-nav > li > a {
        color: #222;
        &:hover {
            color: darken(#f1c40f, 5%);
            transition: 0.5s;
        }
    }

    .navbar-header {

        .navbar-brand {
            color: #222;
            letter-spacing: 1.4px;
        }

    }

    .dropdown-menu > li > a:hover {
        background-color: darken(#f1c40f, 5%);
        color: #fff;
    }

    .navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
        background-color: darken(#f1c40f, 5%);
        color: #fff;    
    }

}

.dropdown-menu > .active > a {
    background-color: #f1c40f;
    color: #fff;
}


/* Button/link styles */

.btn-custom {
    color: darken(#f1c40f, 5%);
    background-color: #fff;
    border: 1px solid darken(#f1c40f, 5%);
    padding: 8px 20px;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
    &:hover {
        text-decoration: none;
        background-color: darken(#f1c40f, 5%);
        color: #fff;
        transition: 0.5s;
    }
}

.btn-custom2 {
    color: #333;
    background-color: #fff;
    border: 1px solid #222;
    padding: 8px 20px;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
    &:hover {
        text-decoration: none;
        background-color: #333;
        color: #fff;
        transition: 0.5s;
    }   
}

.links {

    .btn-custom {
        padding: 3px 10px;
        font-weight: 300;
    }

}

.book-links {

    .btn-custom {
        padding: 3px 10px;
        font-weight: 300;
        margin-top: 40px;   
    }

}

/* Book styles */

.book {
    height: 350px;
    width: 250px;
    margin-bottom: 40px;
    @include background-tile;
}

.book-show {
    height: 475px;
    width: 325px;
    @include background-tile;
}

.book-info {
    @include background-tile;

    .book-title {
        margin-top: 0;
        font-size: 2em;
    }

    .avg-rating {
        font-size: 1.5em;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .number-of-reviews {
        font-size: 0.85em;
        font-style: italic;
    }

    .book-author {
        font-size: 1.5em;
        margin-top: 10px;
        margin-bottom: 10px;
        span {
            font-size: 0.80em;
        }   
    }

    .book-desc {
        font-size: 1.05em;
        line-height: 1.5;
        margin-bottom: 15px;
        margin-top: 15px;
    }

}


/* current-category styles */

.current-category {
    margin-bottom: 40px;
}


/* Reviews styles */

.reviews {

    @include background-tile;
    margin-top: 40px;

    h1 {
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 2em;
    }

    .review {
        border-bottom: 1px solid gainsboro;
        margin-bottom: 15px;
        padding-bottom: 10px;

        .review-comment {
            font-size: 1.05em;
            line-height: 1.5;
        }

    }

    .new-review {
        padding-top: 8px;
    }

}

/* New Book Form styles */

.new-book-form {
    @include background-tile;

    h1 {
        margin-top: 0;
    }

    #category_id {
        margin-bottom: 10px;
    }

    #book_book_img {
        margin-bottom: 10px;
    }

}


/* Edit Book Form styles */

.edit-book-form {

    @include background-tile;

    h1 {
        margin-top: 0;
    }

    #book_category_id {
        margin-bottom: 10px;
    }

    #book_book_img {
        margin-bottom: 10px;
    }

}

/* New/Edit review form styles */

.new-review-form, .edit-review-form {
    @include background-tile;

    h1 {
        margin-top: 0;
    }

    #rating-form {
        margin-bottom: 15px;

        label {
            display: block;
        }

    }

}


/* Signup/Login form styles */

.signup-form {
    @include background-tile;

    h2 {
        margin-top: 0;
    }

}

.login-form {
    @include background-tile;

    h2 {
        margin-top: 0;
    }

}

/*About Us section*/
.aboutus-section {
    padding: 90px 0;
}
.aboutus-title {
    font-size: 30px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 39px;
    padding: 0 0 11px;
    position: relative;
    text-transform: uppercase;
    color: #000;
}
.aboutus-title::after {
    background: #fdb801 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 54px;
}
.aboutus-text {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
    margin: 0 0 35px;
}

a:hover, a:active {
    color: #ffb901;
    text-decoration: none;
    outline: 0;
}
.aboutus-more {
    border: 1px solid #fdb801;
    border-radius: 25px;
    color: #fdb801;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    padding: 7px 20px;
    text-transform: uppercase;
}
.feature .feature-box .iconset {
    background: #fff none repeat scroll 0 0;
    float: left;
    position: relative;
    width: 18%;
}
.feature .feature-box .iconset::after {
    background: #fdb801 none repeat scroll 0 0;
    content: "";
    height: 150%;
    left: 43%;
    position: absolute;
    top: 100%;
    width: 1px;
}

.feature .feature-box .feature-content h4 {
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}


.feature .feature-box .feature-content {
    float: left;
    padding-left: 28px;
    width: 78%;
}
.feature .feature-box .feature-content h4 {
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}
.feature .feature-box .feature-content p {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
}
.icon {
    color : #f4b841;
    padding:0px;
    font-size:40px;
    border: 1px solid #fdb801;
    border-radius: 100px;
    color: #fdb801;
    font-size: 28px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 70px;
}


/*login forms*/
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

